@charset "uft-08";

/* Font set*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@font-face { 
  font-family: 'BP'; 
  font-style: normal;
  font-weight: 700;
  src: 
  url('/resources/font/BusanFont_Provisional.woff') format('woff'),
  url('/resources/font/BitgoeulGwangju_Bold.woff2') format('woff2'); 
}
@font-face {
	font-family: 'PTD';
	font-weight: 900;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-Black.woff2') format('woff2'), 
	url('/resources/font/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 800;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-ExtraBold.woff2') format('woff2'), 
	url('/resources/font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 700;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-Bold.woff2') format('woff2'), 
	url('/resources/font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 600;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-SemiBold.woff2') format('woff2'), 
	url('/resources/font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 500;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-Medium.woff2') format('woff2'), 
	url('/resources/font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 400;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-Regular.woff2') format('woff2'), 
	url('/resources/font/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 300;
	font-display: swap;
	src:
	url('/resources/font/Pretendard-Light.woff2') format('woff2'), 
	url('/resources/font/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 200;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-ExtraLight.woff2') format('woff2'), 
	url('/resources/font/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'PTD';
	font-weight: 100;
	font-display: swap;
	src: 
	url('/resources/font/Pretendard-Thin.woff2') format('woff2'), 
	url('/resources/font/Pretendard-Thin.woff') format('woff');
}


* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  width: 452px;
  height: 650px;
  margin: 50px auto;
  background-color: #e1b5c2;
  border: 5px solid #dfc1c7;
  border-radius: 40px;
}

.wrapper_header {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.header {
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 16px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #3a343e;
}

.sun_screen {
  width: 157px;
  height: 50px;
  background-color: #4e4946;
  border-radius: 7px;
}

.main_screen {
  width: 375px;
  height: 124px;
  background-color: #424746;
  border: 8px solid #bba3a6;
  border-radius: 10px;
  margin-bottom: 4px;
}

.name {
  width: 375px;
  font-size: 12px;
  font-weight: bold;
  color: #3a343e;
  text-align: end;
}

.wrapper_body {
  width: 100%;
  height: 400px;
  background-color: #d2b9bc;
  border-radius: 32px;
  display: grid;
  grid-template-columns: repeat(5, 63px);
  grid-template-rows: repeat(6, 52px);
  gap: 10px 13px;
  padding: 27px 35px;
}

.btn1 {
  
}

.btn_3, .btn_4, .btn_5, .btn_6, .btn_plus {
  background-color: #baa0a3;
  border-top: 2px solid #66474b;
  border-right: 2px solid #66474b;
  border-bottom: 2px solid #aa9699;
  border-left: 2px solid #aa9699;
  border-radius: 20px;
  font-size: 30px;
  color: #3a343e;
}


.btn_p {
  background-color: #a46275;
  border-top: 2px solid #7c3e4f;
  border-right: 2px solid #7c3e4f;
  border-bottom: 2px solid #995e71;
  border-left: 2px solid #995e71;
  border-radius: 20px;
  font-size: 30px;
  color: #3a343e;
}

.btn_plus {
  grid-row: 5 / 7;
  grid-column: 5 / 6;
}